.main_init {
  background: #000;
  height: 100vh;
  width: 100vw;
}
.banner_init {
  width: 100vw;
  height: 100vh;
  background: url("../assets/images/rs-cover.jpg") center center;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  animation: banner_init 0.8s ease-out;
  .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
@keyframes banner_init {
  0%{ transform: scale(2); opacity: 0 }
  100% { transform: scale(1); opacity: 1 }
}

.arrow {
  width: 100vw;
  min-height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  img {
    height: 80px;
    width: auto;;
  }
}
