.main_init {
  background: #000;
  height: 100vh;
  width: 100vw;
}
.banner_init {
  width: 100vw;
  height: 100vh;
  background: url("../assets/images/rs-cover.jpg") center center;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  animation: banner_init 0.8s ease-out;
  .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
@keyframes banner_init {
  0%{ transform: scale(2); opacity: 0 }
  100% { transform: scale(1); opacity: 1 }
}

.arrow {
  width: 100vw;
  min-height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  img {
    height: 80px;
    width: auto;;
  }
}


/*topNavBar*/
.topNav {
  background: rgba(0,0,0,0.2);
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 1;
  .setting{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
  }
  .setting_svg {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    position:absolute;
  }
}

@for $i from 1 through 8 {
  .topNav .topNavItem:nth-child(#{$i}) {
    $time: $i * 3 + unquote('');
    $delay: unquote('0.' + $time + 's');
    animation-name: showTopNavItem;
    animation-duration: 0.6s;
    animation-delay: $delay;
    animation-timing-function: ease-in;
    color: #FFF;
    font-size: 24px;
  }
}
@keyframes showTopNavItem {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}