// global
.slider {
  position: relative;
  top: 50%;

  max-width: 460px;
  margin: 0 auto;
  transform: translateY(-50%);
}

// slides
.slider__slides {
  width: 200%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: nowrap;
}

// slide
.slider__slide {
  opacity: 0;
  transition: opacity .3s ease-in-out;
  width: 50%;
}

/*.slider__slide.is-active {
  opacity: 1;
}*/

// slider content
.slider__slide__content {
  padding: 20px;
}


// map
.slider__map {
  position: absolute;
  bottom: 0;

  width: 100%;

  text-align: center;
}

.slider__map__node {
  width: 10px;
  height: 10px;
  margin: 0 5px;

  cursor: pointer;

  background-color: #222;
  display: inline-block;
  border-radius: 50%;
  transition: background-color .3s ease-in-out;
}

.slider__map__node.is-active {
  background-color: #fff;
}
