/*topNavBar*/
@for $i from 1 through 8 {
  .topNav .topNavItem:nth-child(#{$i}) {
    $time: $i * 50  + unquote('');
    $delay: unquote($time + 'ms');
    animation-name: showTopNavItem;
    animation-duration: $delay;
    animation-timing-function: ease-in;
    color: #FFF;
    font-size: 24px;
    display: none;
  }
}
.topNav {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 10px 0 0 20px;
  z-index: 1;
  .setting{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
  }
  .setting_svg {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    position:absolute;
  }
  .topNavItem{
    margin: 12px 10px;
    position: relative;
    cursor: pointer;
    text-shadow: 1px 1px 2px #FFF, 0 0 0.2em #000;
    &.highLight::after{
      content: '';
      display: block;
      position: absolute;
      top: 110%;
      left: 0;
      width: 100%;
      background: #FFF;
      height: 3px;
      animation: menuSlide .3s;
    }
    &.active{
      display: block;
    }
  }
}

@keyframes showTopNavItem {
  0%{
    opacity: 0;
  }
  90%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes menuSlide {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
